.row {
  margin-top: 7px;
}

.col-lg-2 {
  text-align: center;
}

h5 {
  margin-bottom: 15px;
}

.rating {
  display: inline;
}

.scoreboard {
  text-align: center;
}

.name {
  display: inline;
}

.substitute {
  display: none;
  margin-bottom: 25px;
  margin-top: 25px;
}

.form-group {
  max-width: 50%;
}
